.logout-container {
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Distribute space between items */
  }
  
  .logout {
    margin-left: calc(10px); /* Add margin between buttons */
  }
  
  @media (max-width: 768px) {
    .logout-container {
      flex-direction: row; /* Change to a column layout on smaller screens */
    }
  
    .logout {
      margin-bottom: 0; /* Reset margin */
    }
  
    .logout:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  
.fa-angle-double-up{
  margin-left: 10px;
}